/* Normalización de estilos (Reset) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

:root {
  /* Paleta de colores */
  --color-bg: #b7544c;
  --color-bg-hover: #b21322;

  /* Tipografía */
  --font-base: "Inter", sans-serif;
  --font-alternative: "Ruleway", sans-serif;
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /* Espaciado */
  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-base);
  font-size: 62.5%;
  color: var(--color-dark-solid);
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: var(--font-alternative);
  font-size: 48px;
  color: black;
}

ul,
ol {
  list-style-type: none;
}

p {
  font-size: 1.8em;
}

img {
  width: 100%;
}

/* Clases utilitarias*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos de la página */
h1 {
  width: fit-content;
  margin: 0 auto;
  font-family: var(--font-alternative);
}
.panel {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* width: 100%; */
  max-width: 1440px;
  margin: 0 auto;
  height: 92vh;
  justify-content: stretch;
  align-items: start;
  padding: 10px;
  /* align-content: center; */
}
.controls {
  /*background-color: aquamarine;*/
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.controls__block {
  border: 3px var(--color-bg) solid;
  border-radius: 20px;
  margin-bottom: 10px;
  padding-top: 6px;
  position: relative;
}

.controls__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-bg);
  background-color: white;
  font-weight: 800;
  font-size: 16px;
  padding: 2px 8px;
  text-transform: uppercase;
}
.controls__group,
.file-input,
.color-input,
.select,
.number-input,
.text-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.controls__label,
.file-input__label,
.color-input__label,
.select__label,
.number-input__label,
.text-input__label {
  width: 150px;
  font-size: 12px;
  font-weight: 800;
}

.controls__button,
.file-input__button {
  background-color: var(--color-bg);
  font-size: 1.2em;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.controls__button:hover,
.file-input__button:hover {
  background-color: var(--color-bg-hover);
}

.number-input__input {
  width: 50px;
}

.controls__button-download {
  margin: 0 auto;
}

.meme {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  position: relative;
}

.meme__figure {
  max-height: 100%;
  max-width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  mix-blend-mode: darken;
}

.meme__img {
  max-width: 100%;
  max-height: 100%;
}

.meme__line {
  position: absolute;
  margin: 0 auto;
  padding: 5px;
}

.controls__position-btn {
  background-color: var(--color-bg);
  font-size: 1.2em;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.controls__position-btn:hover {
  background-color: var(--color-bg-hover);
}

/* Limpieza de estilos */

.transparent-checkbox {
  display: flex;
  gap: 8px;
}

.transparent-checkbox__label {
  font-size: 12px;
  font-weight: 800;
}

.transparent-checkbox__input[type="checkbox"] {
  accent-color: var(--color-bg);
}

.inline-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .panel {
    flex-direction: column;
  }
  .controls {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
  }
  .controls__button-download {
    position: absolute;
    top: 135px;
    left: 14px;
  }
}

@media screen and (max-width: 680px) {
  .panel {
    align-items: center;
  }
  .controls {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .controls__button-download {
    position: initial;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
